legacy/**
UKSM_src
# uksm
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.vscode/**
relatedwork/**
workload/pytorch/data/**
workload/pytorch/pytorch-FCN-easiest-demo-master/**
log/*
!log/draw_tool
!log/draw_tool_bac
*_bac
*.code-workspace
venv
fig

*.pdf